@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

/* ---------------
  変数
--------------- */

:root {
  --serif-font: serif;
  --serif-bold: serif;
  --sans-serif-font: sans-serif;
  --sans-serif-bold: sans-serif;
}

/* ---------------
  要素全般
--------------- */

body {
  font-family: var(--serif-font),serif;
  line-height: 1.5;
  padding: 1em 0.5em;
}
table,
tr,
td {
  margin: 0;
  padding: 0;
  border: none;
}
table,
tr {
  width:100%;
}
hr {
  visibility: hidden;
}
a[href] {
  color: LinkText !important;
  text-decoration: underline !important;
  margin: 0 0.2em;
}

/* ---------------
  見出し
--------------- */

/* 見出し語 */
.midasi {
  margin-right: 0.5em;
  font-family: var(--sans-serif-bold),sans-serif; 
  font-weight: bold;
  font-size: 150%;
}
td:has(> .midasi) {
  padding-bottom: 0.5em;
  padding-left: 2.6em;
  text-indent: -2.6em;
}
/* 同一綴りで語源の異なる見出し語 */
sup {
  margin-left: 0.1em;
  vertical-align: 40%;
  font-size: 75%;
  color: rgba(0,0,0,0.5);
}
/* 変化 (pl. aux) */
.henka {
  margin: 0 0.15em;
  color: rgba(0,0,0,0.5);
}
/* 発音 */
.hatuon {
  margin: 0 0.3em;
  color: rgba(0,0,0,0.5);
}
.midasi ~ .hatuon,
.midasi_sub ~ .hatuon {
  font-size: 120%;
}
/* 発生 (←abdominal) */
.hassei {
  margin: 0 0.15em;
  font-size: 90%;
  color: rgba(0,0,0,0.5);
}
/* 巻末の動詞活用表に対応する番号 */
.dousi_num {
  margin: 0 0.1em;
  font-family: var(--sans-serif-font),sans-serif;
  font-size: 90%;
  color: brown;
}
/* 品詞 n.m. */
 .hinsi {
  margin: 0 0.15em;
  font-style: italic;
  color: rgba(0,0,0,0.5);
}
/* 文中のサブ見出し -se manger */
.midasi_sub {
  margin-right: 0.5em;
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
  font-size: 120%;
}
td:has(> .midasi_sub) {
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 2.6em;
  text-indent: -2.6em;
}
/* サブ見出しの前の「——」記号 */
.dash {
  margin-right: 0.15em;
  font-weight: normal;
  font-size: 120%;
  color: brown;
}

/* ---------------
  本文
--------------- */

/* 語義分類番号 */
/* .branch2 上位区分 ABC */
/* .branch3 通常区分 123 */
/* .branch4 下位区分 a)b)c) */
/* .branch5 成句の語義分類 123 */
.branch2,
.branch3,
.branch4,
.branch5 {
  display: inline-block;
  text-indent: 0;
  margin-top: 0.5em;
  margin-right: 0.4em;
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
  font-size: 90%;
}
.branch2,
.branch3 {
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  color: white;
}
.branch4,
.branch5 {
  margin-left: 1em;
}
.branch2 {
  border-radius: 2px;
  background-color: brown;
}
.branch3 {
  border-radius: 100%;
  background-color: rgba(0,0,0,0.5);
}
.branch4 {
  color: brown;
}
.branch5 {
}
td:has(.branch2),
td:has(.branch3),
td:has(.branch5) {
  padding-left: 1.6em;
  text-indent: -1.6em;
}
td:has(.branch4) {
  padding-left: 2.6em;
  text-indent: -2.6em;
}

/* 上位区分見出し 例：「起源・原因・手段・様態」*/
.gentei1 {
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
}
/* 訳語 印刷は丸ゴシック */
.yakugo {
  font-family: var(--sans-serif-font),sans-serif;
  display: inline-block;
  text-indent: 0;
  margin: 0 0.2em;
  font-size: 90%;
}
.midasi ~ .yakugo,
.midasi_sub ~ .yakugo,
.branch2 ~ .yakugo,
.branch3 ~ .yakugo,
.branch4 ~ .yakugo,
.branch5 ~ .yakugo {
}
/* 用例 */
.yourei {
  margin-right: 0.4em;
  color: rgba(0,0,0,0.5);
}
tr:has(.branch2) + [id^=sub_yourei] table,
tr:has(.branch3) + [id^=sub_yourei] table,
tr:has(.branch5) + [id^=sub_yourei] table {
  margin-left: 1.6em;
}
tr:has(.branch4) + [id^=sub_yourei] table {
  margin-left: 2.6em;
}
tr:has(.seiku) + [id^=sub_yourei] table {
  margin-left: 1.2em;
}
.yourei_yaku {
  display: inline-block;
  text-indent: 0;
  margin: 0 0.15em;
  font-size: 90%;
}
/* 成句 「◆〜」 */
.seiku {
  margin-right: 0.4em;
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 110%;
}
td:has(> .seiku) {
  padding-left: 1.2em;
  text-indent: -0.8em;
}
.seiku_yaku {
  font-family: var(--sans-serif-font),sans-serif;
  display: inline-block;
  text-indent: 0;
  margin: 0 0.15em;
  font-size: 90%;
}
/* 派生語 記事末の「◇〜」 */
.hasei {
  font-family: var(--serif-bold),serif;
  font-weight: bold;
  margin-left: 0;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0;
}

/* ---------------
  用語、引用、関連、INFO、注意
--------------- */

/* 題名 */
.daimei {
  font-family: var(--serif-bold),serif;
  font-weight: bold;
  font-size: 110%;
}
[id^=sub_yougo] .daimei::before,
[id^=sub_inyou] .daimei::before,
[id^=sub_kanren] table::before,
[id^=sub_info] .daimei::before,
td.tyuki tr:first-child .kaigyo::before {
  display: inline-block;
  text-indent: 0;
  line-height: 1.5;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 2px;
  margin-top: 1.5em;
  margin-right: 0.4em;
  padding: 0 0.4em;
  font-family: var(--sans-serif-font),sans-serif;
  font-weight: normal;
  font-size: 80%;
  color: rgba(0,0,0,0.5);
}

/* 用語 */
[id^=sub_yougo] .daimei::before {
  border: 1px solid brown;
  color: brown;
  font-family: var(--serif-font),serif;
  font-weight: normal;
  content: "用語";
}
[id^=sub_yougo] .daimei {
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
}
.yougo {
  margin-right: 0.4em;
}
.yougo_yaku {
  display: inline-block;
  text-indent: 0;
  margin: 0 0.15em;
  font-size: 90%;
}
/* 引用 */
[id^=sub_inyou] .daimei::before {
  border: 1px solid brown;
  color: brown;
  font-family: var(--serif-bold),serif;
  font-weight: bold;
  content: "Citations";
}
[id^=sub_inyou] .daimei {
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
}
.inyou {
  margin-right: 0.4em;
  font-family: var(--serif-bold),serif;
  font-weight: bold;
  font-style: italic;
}
.sakusya {
  margin-left: 0.8em;
  font-size: 90%;
}
.sakusya::before {
  content: "(";
}
.sakusya::after {
  content: ")";
}
.inyou_yaku {
  display: inline-block;
  text-indent: 0;
  padding-left: 1em;
  margin: 0 0.15em;
  font-size: 90%;
}
/* 関連 */
[id^=sub_kanren] table::before {
  border: 1px solid brown;
  color: brown;
  font-family: var(--serif-font),serif;
  font-weight: normal;
  content: "関連";
}
.kanren {
  margin-right: 0.4em;
  font-family: var(--sans-serif-font),sans-serif;
}
.kanren_yaku {
  display: inline-block;
  text-indent: 0;
  margin: 0 0.15em;
  font-size: 90%;
}
/* INFO */
[id^=sub_info] {
  font-size: 90%;
}
[id^=sub_info] .daimei {
  font-family: var(--sans-serif-font),sans-serif;
  font-weight: normal;
}
[id^=sub_info] .daimei::before {
  border: 1px solid brown;
  color: brown;
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
  content: "Info";
  margin-right: 0.5em;
}
[id^=sub_info] table td:has(.kaigyo) {
  padding-left: 1em;
  text-indent: -1em;
}
[id^=sub_info] .setumei {
  display: inline-block;
  line-height: 1.5;
  text-indent: 0;
}
/* 注意 */
/* td.tyuki ブロックタイプの注意 */
/* span.tyuki インラインタイプの注意 あとで記述 */
td.tyuki {
  padding-left: 5em;
  line-height: 1.5;
  font-size: 80%;
  color: rgba(0,0,0,0.5);
}
td.tyuki tr:first-child .kaigyo::before {
  border: 1px solid brown;
  color: brown;
  font-family: var(--serif-font),serif;
  font-weight: normal;
  content: "注意";
}
td.tyuki tr:first-child td {
  text-indent: -2.8em;
}
.kaigyo {
}

/* ---------------
  括弧類
--------------- */

/* ( ) 省略可能部分；訳語の前につく動詞の目的語，形容詞の被修飾語など「(時計の)アンクル」 */
.hojo {
  margin: 0 0.15em;
  font-size: 80%;
}
/* (= ) 同意語・双解語句「(＝petit doigt)」 */
.doui {
  margin: 0 0.3em;
  font-size: 80%;
}
/* ［ ］ 交換可能部分；訳語の補足的・敷衍的説明文「［中が空洞で指状のもの］」 */
.setumei {
  margin: 0 0.15em;
  font-size: 80%;
}
/* (＊ ) 簡単な用法上の注意，語句の語源的由来など */
/* span.tyuki (＊〜〜) インラインタイプの注意 */
/* td.tyuki ブロックタイプの注意 上で記述 */
span.tyuki {
  display: inline-block;
  text-indent: 0;
  line-height: 1.5;
  margin: 0 0.3em;
  padding-left: 0.5em;
  font-size: 80%;
  color: rgba(0,0,0,0.5);
}
/* span.tyuki のアステリスク */
.aster {
  font-family: var(--sans-serif-bold),sans-serif;
  font-weight: bold;
  font-size: 80%;
  color: brown;
}
/* (＜ ) 語源 */
.gogen {
  margin: 0 0.15em;
  font-size: 80%;
  color: rgba(0,0,0,0.5);
}
/* (( )) 構文説明や見出し語と密接に結びつく前置詞など；前置詞などで，各語義の概念規定 */
/* .gentei2 限定 「((中性代名詞leとともに))」 */
/* .gokei   語形 「((pl.で))」 */
/* .maehuku 前副 ((à; …の)) */

/* ｟ ｠ 古語，俗語，方言などの用法 .gosou 「｟古｠」 CD-ROM版では「(( ))」と表記 */
/* 〘 〙 専門百科記号 .bunya 「〘植物〙」 CD-ROM版では「〔 〕」と表記 */
.gentei2,
.gokei,
.maehuku,
.gosou,
.bunya {
  margin: 0 0.1em;
  font-size: 80%;
  color: rgba(0,0,0,0.5);
}
/* ルビ */
.rubi {
  margin: 0 0.2em;
  font-size: 60%;
}

/* ---------------
  リンク・アンカー
--------------- */

/* tr.key > id > a[name="012"] */
.key {
  display: none;
}
/* 参照 別の語や図版などへのリンクのwrapper 「⇒〜〜」 */
.sansyo2 {
  display: inline-block;
  text-indent: 0;
  margin: 0.1em 0.2em;
  font-family: var(--sans-serif-font),sans-serif !important;
  font-size: 85% !important;
}
.jump {
}
.gosi {
}

/* ---------------
  前付
--------------- */

[id=_FrontMatter] {
  text-align: center;
}
[id=_FrontMatter] .syomei {
  margin: 3em 0;
  font-family: var(--serif-bold),serif;
  font-weight: bold;
  font-size: 120%;
}
[id^=_FrontMatter-] table,
[id^=_FrontMatter-] tr {
  width: unset;
}
[id^=_FrontMatter-] td {
/*   display: revert; */
  padding-right: 1em;
}
[id=_FrontMatter-zuhanList] td[colspan="2"],
[id=_FrontMatter-appendixList] td[colspan="3"] {
  font-family: var(--serif-bold),serif;
  font-weight: bold;
}
[id=_FrontMatter-appendixList] td:has(+ td + td) {
  text-align: center;
}
[id=_FrontMatter-appendixList] .nobre {
  font-size: 90%;
  color: rgba(0,0,0,0.5);
}

/* ---------------
  付録・図版
--------------- */

[id^=_Appendix] img,
[id^=_Zuhan] img {
  width: 100%;
}
[id^=_Appendix] img + img,
[id^=_Zuhan] img + img {
  margin-top: 1em;
}

/* ---------------
  活用表
--------------- */

[id^=_Conju-] table,
[id^=_Conju-] tr {
  width: unset;
  line-height: 1.2;
}
[id^=_Conju-] td {
/*   display: revert; */
  padding-right: 1em;
}
[id^=_Conju-] .title_bar {
  line-height: 1.8;
  vertical-align: bottom;
  font-family: var(--sans-serif-font),sans-serif;
  font-size: 90%;
  color: rgba(0,0,0,0.5);
}
